.customers {
  display: flex;
  overflow-y: hidden;
  margin-left: 15vw;
}

.customers .customersregion {
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
}
.customers .customersregion .addandfilter {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.customers .customersregion .addandfilter button {
  background-color: black;
  padding: 10px;
  color: white;
  border: none;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
}

.customers .customersregion .addandfilter input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.customers .customersregion .productslist {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.customers .customersregion .productslist .eachproduct {
  display: flex;
  padding: 7px 0px;
}

.customers .customersregion .productslist .eachproduct:nth-child(even) {
  background-color: #f0f0f0;
}
.customers .customersregion .productslist h4 {
  width: 25%;
  font-weight: 400;
  margin: 0px;
}
.customers .customersregion .productslist .highlight h4 {
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 0px;
}
