@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./Assets/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-style: normal;
}

.App {
  font-family: Montserrat !important;
}
